<p>
	<% unless logged_in? %>
		<%= link_to 'Login', login_path %>
		|
		<%= link_to 'Register', new_user_path %>
	<% else %>
		Hello <strong><%= current_user.username %></strong>,
		<%= link_to 'Publish post', new_post_path %>
		|
		<%= link_to 'Logout', logout_path %>
	<% end %>
</p>
