<%= form.error_messages %>
<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :content %><br />
  <%= form.text_area :content %>
</p>
<p>
  <%= form.label :category_id %><br />
  <%= form.collection_select(:category_id, @categories, :id, :name)%>
</p>