<%= form_comment.error_messages %>
<p>
	<%= form_comment.label :content %><br />
	<%= form_comment.text_area :content %>
</p>
<p>
	<%= form_comment.label :author %><br />
	<%= form_comment.text_field :author %>
</p>
<p>
	<%= form_comment.label :url %><br />
	<%= form_comment.text_area :url %>
</p>

